<p>Hola <%= @user.name %>, </p>
<p>
  Has solicitado actualizar tu contraseña para tu usuario en nuestro sitio Learning Zone Argentina.
</p>
<p>
  El siguiente link te llevará a la página para que puedas escoger tu nueva contraseña:
</p>
<p>
  <%= link_to 'Renovar contraseña', passwords_reset_url(token: "#{@user.reset_password_token}") %>
</p>
<p>Gracias por utilizar Learning Zone Argentina, que tengas buen día!</p>

<p>
  Gracias,<br />
  Equipo de Learning Zone Argentina
</p>